body {
  font-family: sans-serif;
  background-color: #f3f6ff;
}
.container{
    text-align: center;
}
.card {
    background-color: #ffffff;
    margin-top: 20px;
    display: inline-table;
    width: 70%;
    text-align: left;
    border-radius: 7px;
}
.card .cardhead{
    font-size: 2rem;
    background-color: #2d89ff;
    border-radius: 7px 7px 0px 0px;
    padding: 12px;
    color: #ffffff;
}
.card .cardbody{
    font-size: 1.5rem;
    padding: 12px;
}
button{
    background-color: #256fff;
    color: #ffffff;
    padding: 10px;
    margin-top: 12px;
    border-radius: 20px;
    border: none;
}